<h1><%= @recipe.title.capitalize %></h1>

<div>

<% unless @recipe.image.empty? %>
  <%= link_to image_tag(@recipe.image, :alt => @recipe.title, :class => 'thumbnail'), @recipe.image %>
<% end %>

<% if @recipe.ingredients.any? %>
    <p>Ingredients: <%= render @recipe.ingredients%></p>
<% end %>

<h2>Instructions: </h2>

<%= simple_format@recipe.description %>

<hr>

<p>Posted by: <%= @recipe.user.name %> </p>

</div>

<div class="controls">
  <% if @current_user.present? %>
    <%= link_to 'Edit recipe', edit_recipe_path(@recipe), :class => 'btn btn-default' %>
    <%= link_to 'Delete recipe', @recipe, :method => 'delete', :data => { :confirm => 'Are you sure you want to delete this recipe?' }, :class => 'btn btn-default' %>
  <% end %>
</div>

<% if @recipe.categories.any? %>
  <p>See more: <%= render @recipe.categories %></p>
<% end %>

<div>
  [ <%= link_to 'Go back to Recipes', recipes_path %> ]
</div>
