<h1><%= "#{@user.name}'s Page" %></h1>

<div>
  <% unless @user.image.empty? %>
    <%= image_tag @user.image, :alt => @user.name, :class => 'thumbnail' %>
  <% end %>

  <% if @current_user.present? %>
  <p><%= link_to "Add a new recipe", new_recipe_path, :class => 'btn btn-warning' %> </p>
  <% end %>

  <% unless @user.recipes.empty? %>
    <h2>Recipes</h2>
    <% @user.recipes.each do |recipe| %>
      <ul>
        <li>
          <%= link_to recipe.title, recipe %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>

<hr>

<div class="controls">
  <%= link_to 'Edit member', edit_user_path(@user), :class => 'btn btn-default' %>
  <%= link_to 'Delete member', @user, :method => 'delete', :data => { :confirm => 'Are you sure you want to delete this account?' }, :class => 'btn btn-default' %>
</div>
