<h1><%= @ingredient.name %></h1>

<div>
<% if @ingredient.recipes.count !=0 %>
  <h2>Recipes</h2>
    <% @ingredient.recipes.each do |recipe| %>
      <ul>
        <li>
          <%= link_to recipe.title, recipe %>
        </li>
      </ul>
    <% end %>
    <% else %>
    <p>No recipes have been added</p>
  <% end %>
</div>

<div>
  <h2>About <%= @ingredient.name %> </h2>

  <img src="<%= @page.main_image_url %>" alt="<%= @ingredient.name%>" class="thumbnail" id="thumbnail">

    <p><%= @page.summary %></p>
    <br>
    <p data-toggle="tooltip" data-placement="left" title="Find out more!">Source: <a href="<%=@page.fullurl%>" target="_blank">Wikipedia</a></p>
</div>

<hr>

<div class="controls">
  <% if @current_user.present? && @current_user.admin %>
    <%= link_to 'Edit ingredient', edit_ingredient_path(@ingredient), :class => 'btn btn-default' %>
    <%= link_to 'Delete ingredient', @ingredient, :method => 'delete', :data => { :confirm => 'Are you sure you want to delete this ingredient?' }, :class => 'btn btn-default' %>
  <% end %>
</div>

<div>
  [ <%= link_to 'Go back to ingredients listing', ingredients_path %> ]
</div>
